@import 'themes/global';

.job {
  &__item {
    margin-bottom: 8px;

    .mde-preview {
      background: var(--primary__background);
      color: var(--secondary__text);
    }
  }

  &__title {
    color: $celestial__blue;
  }

  &__description {
    margin-bottom: 12px;
  }
}

.nav-link.no-href {
  color: #fff !important;
}

.mde-text {
  color: #495057;
}
