@import 'themes/global';

.cv {
  &__item {
    align-items: center;
    display: flex;
    margin-bottom: 8px;

    &__buttons {
      display: flex;
      flex-flow: column;

      &__delete {
        cursor: pointer;
      }
    }

    .mde-preview {
      background: var(--primary__background);
      color: var(--secondary__text);
    }

    &__content {
      margin: 0 0 0 50px;
    }

    &__drag-handle {
      cursor: pointer;
      margin: 0 0 20px;
    }

    &__detail {
      align-items: flex-start;
      flex-flow: column;
    }
  }

  &__title {
    color: $celestial__blue;
  }

  &__description {
    margin-bottom: 12px;
  }
}

.nav-link.no-href {
  color: #fff !important;
}

.mde-text {
  color: #495057;
}
